* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* navbar */
.navbar {
    background-color: black;
    max-width: 1200px;
    margin: auto;
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar img {
    height: 20px;
}

.navbar a {
    text-decoration: none;
    margin: 12px;
    font-size: 14px;
    color: #ddd;

}

.navbar a:hover {
    color: white;
    transition: 0.3s;
}

.nav-btns {
    display: flex;
    gap: 10px;
}

.login {
    background-color: transparent;
    border: 1px solid #444;
    color: #ddd;
    padding: 10px;
    cursor: pointer;
    border-radius: 6px;
}

.start {
    background-color: white;
    color: black;
    font-weight: 500;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
}

.start:hover {
    background-color: #eaeaea;
}